<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macha</title>
</head>
<body>
    <div style="background-color: brown;">
        <marquee><h1 style="background-color:white;">🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊</h1></marquee>
        <marquee><h1 style="background-color: aquamarine;">Egiri tanta naa kodaka</h1></marquee>
        <marquee><h1 style="background-color: blue;">voddu le po ra rey</h1></marquee>
        <marquee><h1 style="background-color:white;">🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊🎊</h1></marquee>
    </div>
</body>
</html>